/*
@media (min-width: 992px) and (max-width: 1199px) {


}


@media (max-width: 1000px){

}

@media (max-width: 992px) {



}



@media (min-width: 768px) and (max-width: 991px) {

	.navbar-expand-md .navbar-nav .nav-link { padding-left: 0.6rem; padding-right: 0.6rem; }

}*/

@media (max-width: 767px) {



 /*FONDO PRICIPALcollapse*/

img
{
	width: 100%;
	height: 55%;
}
	/* INICIO*/
	.navbar.navbar-no-bg { background: #fff; }
	.navbar-dark .navbar-toggler { border-color: #444; }
	.navbar-dark .navbar-toggler:focus { background: #333; outline: 0; }
	.navbar-expand-md .navbar-nav .nav-link { padding-top: 0.3rem; padding-bottom: 0.3rem; }

	.inicio-container {
		padding: 90px 0;
	}

	.inicio-container h1 {
		font-size: 33px;

	}
	.inicio-container h2 {
		font-size: 33px;
		line-height: 5px;
	}

	.inicio-container h3{
		font-size: 33px;
	}

	.inicio-container h4 {
		font-size: 31px;
		line-height: 5px;
	}

	/* COTIZADOR*/
.cotizador-container img
{
	width: 60%;
	height: 55%;
}

.cotizador-container{
	padding: 30px 0;
}

.cotizador-container label {
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  line-height: 25px;
}

.cotizador-container h1{
	font-size: 33px;
	line-height: 5px;

}.cotizador-container h2 {
	font-size: 33px;
	line-height: 5px;
}

.cotizador-container .sp10x {
margin-bottom:1.9642857142857142em
}

.cotizador-container .sp20x {
margin-bottom:3.9285714285714284em
}
.cotizador-container .sp20x {
margin-bottom:3.9285714285714284em
}


/* PANELES*/
.paneles-container img
{
	width: 60%;
	height: 55%;
}
.paneles-container{
	padding: 30px 0;
}

.paneles-container .espacio .esp10x {
margin-bottom:2.357142857142857em;
}

.paneles-container .espacio .essp10x {
	margin-bottom:0;
}
.paneles-container .espacio .ssp5x {
	margin-bottom:0;
}
.paneles-container .sp5x {
	padding: 0px 0;
}

.paneles-container h1{
	font-size: 33px;
	line-height: 10px;
}
.paneles-container h2{
	font-size: 33px;
	line-height: 30px;

}
.paneles-container h4  {
	font-size: 33px;

}

/* CONTACTO*/

.contacto-container .sp5x {

	padding: 40px 0;
	margin-bottom:0;
}
.contacto-container .sp10x {
	padding: 0px 0;
	margin-bottom:0em;
}

.contacto-container .sp6x {
		margin-bottom:0em;
}
.contacto-container .sp1x {

		margin-bottom:0em;
}

.contacto-container .sp30x {
	padding: 0px 0;
	margin-bottom:0em;
}

.contacto-container h1 {
font-size: 33px;
margin-bottom: 30px;
}

	footer {
		text-align: center;
	}
	.menu-footer {
		margin-bottom:1em;
	}
}
