
@media (min-width: 992px) and (max-width: 1199px) {

	.services-box .services-box-icon { width: 60px; height: 60px; font-size: 32px; line-height: 60px; border-radius: 22px; }

	.about-us-box-text { padding-right: 0; }

}

@media (max-width: 992px) {


}



@media (min-width: 768px) and (max-width: 991px) {

	.navbar-expand-md .navbar-nav .nav-link { padding-left: 0.6rem; padding-right: 0.6rem; }

}

@media (max-width: 767px) {

	/* INICIO*/

	.navbar.navbar-no-bg { background: #fff; }
	.navbar-dark .navbar-toggler { border-color: #444; }
	.navbar-dark .navbar-toggler:focus { background: #333; outline: 0; }
	.navbar-expand-md .navbar-nav .nav-link { padding-top: 0.3rem; padding-bottom: 0.3rem; }

	.inicio-container {
		padding: 70px 0;

	}
	.inicio-container h1 {
		font-size: 50px;

	}
	.inicio-container h2 {
		font-size: 50px;
	  margin-bottom: 420px;
	}

	.inicio-container h3, .inicio-container h4 {
		font-size: 45px;
	}


	/* COTIZADOR*/

.cotizador-container h1, .cotizador-container h2 {
	font-size: 45px;
}

.cotizador-container .sp10x {
margin-bottom:1.9642857142857142em
}

.cotizador-container .sp20x {
margin-bottom:3.9285714285714284em
}

/* COTIZADOR*/

.paneles-container h1, .paneles-container h2, .paneles-container h4  {
font-size: 45px;
}

/* CONTACTO*/

.contacto-container h1 {
font-size: 45px;
}


	footer { text-align: center; }
	.footer-right { padding-top: 10px; text-align: center; }
	.footer-bottom { padding-top: 20px; }

}
